/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap'); */
body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.content{
    background-color: rgb(131, 255, 197);
    width : 40%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-block: 70px;
}

#counter{
    padding-bottom: 10px;
    font-size: 150px;
    color: rgb(146, 54, 89);
    border: 20px solid black;
    border-radius: 30px;
    background-color: rgb(255, 204, 127);

}

.button{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button #decrement{
    background-color: rgb(9, 33, 97);
    color: white;
}

.button #reset{
    background-color: rgb(114, 11, 11);
    color: white;
}

.button #increment{
    background-color: rgb(7, 54, 7);
    color: white;
}

#logo{
    font-size: 44px;
    font-family: cursive;
    background-color: rgb(190, 16, 138);
    color: rgb(200, 253, 169);
    font-weight: bolder;
    border: 10px dotted rgb(219, 223, 16);
    text-align: center;
}